---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { useTranslations } from "../../i18n/utils";
import Box from "../ui/Box.astro";
import Tag from "../ui/Tag.astro";
import TestimonialSlider from "../ui/TestimonialSlider.astro";
import BoxGrid from "../ui/BoxGrid.astro";

const { lang, slug } = Astro.props;

const caseStudies = await getCollection("case-studies");
const testimonials = await getCollection("testimonials");

const caseStudy = caseStudies.find((s) => s.id === `${lang}/${slug}`)?.data;
const langTestimonials = testimonials.filter(
  (t) =>
    t.id.startsWith(lang) &&
    caseStudy?.testimonials.includes(t.data.identifier),
);

const t = useTranslations(lang);
---

{
  !!caseStudy ? (
    <section class="flex flex-col gap-8 py-8 mx-4 lg:mx-0" id={caseStudy.title}>
      <h1 class="flex items-center justify-center col-span-full">
        {caseStudy.title}
      </h1>
      <BoxGrid narrow>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.aboutTheClient")}
            </h2>
            <p>{caseStudy.about}</p>
          </div>
        </Box>
        <Box>
          <div class="overflow-hidden w-full h-full rounded-3xl">
          <Image
            src={caseStudy.image}
            alt={caseStudy.title}
            class="w-full h-full object-cover inset-0"
          />
          </div>
        </Box>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.theChallenge")}
            </h2>
            <p>{caseStudy.challenge}</p>
          </div>
        </Box>
        <Box padded>
          <div class="flex flex-col gap-4">
            <h2 class="text-primaryLight dark:text-primaryDark">
              {t("caseStudies.deliveredValue")}
            </h2>
            <p>{caseStudy.deliveredValue}</p>
          </div>
        </Box>
      <Box padded customClass="col-span-full">
        <div class="flex flex-col gap-4">
          <h2 class="text-primaryLight dark:text-primaryDark">
            {t("caseStudies.theProduct")}
          </h2>
          <p>{caseStudy.product}</p>
        </div>
      </Box>
      </BoxGrid>
      <div class="flex flex-row items-center gap-4">
        <span class="text-2xl">{t("caseStudies.technologies")}</span>
        <ul class="flex flex-row flex-wrap gap-4">
          {caseStudy.tech.map((tech) => (
            <Tag text={tech} />
          ))}
        </ul>
      </div>
      {langTestimonials?.length > 0 && (
        <>
          <h2>{t("caseStudies.testimonial")}</h2>
          <TestimonialSlider testimonials={langTestimonials} />
        </>
      )}
    </section>
  ) : (
    <div>
      <h1>{t("caseStudies.notFound")}</h1>
    </div>
  )
}
