---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const alignment: "horizontal" | "vertical" = Astro.props.alignment;
---

<ul
  class=`${alignment === "horizontal" ? "flex-row items-center" : "flex-col"} flex gap-4 text-sm"`
>
  <li>
    <a
      href={`/${lang}/`}
      class={`text-lg ${
        Astro.url.pathname === `/${lang}/`
          ? "text-primaryLight dark:text-primaryDark"
          : ""
      }`}
    >
      {t("nav.home")}
    </a>
  </li>
  <li>
    <a
      href={`/${lang}/case-studies/`}
      class={`text-lg ${
        Astro.url.pathname === `/${lang}/case-studies/`
          ? "text-primaryLight dark:text-primaryDark"
          : ""
      }`}
    >
      {t("nav.caseStudies")}
    </a>
  </li>
  <li>
    <a
      href={`/${lang}/blog/`}
      class={`text-lg ${
        Astro.url.pathname === `/${lang}/blog/`
          ? "text-primaryLight dark:text-primaryDark"
          : ""
      }`}
    >
      {t("nav.blog")}
    </a>
  </li>
  <li>
    <a
      href={`/${lang}/contact/`}
      class={`text-lg ${
        Astro.url.pathname === `/${lang}/contact/`
          ? "text-primaryLight dark:text-primaryDark"
          : ""
      }`}
    >
      {t("nav.contact")}
    </a>
  </li>
  <li>
    <a
      href={`/${lang}/about/`}
      class={`text-lg ${
        Astro.url.pathname === `/${lang}/about/`
          ? "text-primaryLight dark:text-primaryDark"
          : ""
      }`}
    >
      {t("nav.about")}
    </a>
  </li>
</ul>
