---
import { Image } from "astro:assets";
import type { CaseStudy } from "../../content/config";
import { getLangFromUrl } from "../../i18n/utils";
import Box from "../ui/Box.astro";

const caseStudy: CaseStudy = Astro.props.caseStudy;
const lang = getLangFromUrl(Astro.url);
---

<Box padded href={`/${lang}/case-studies/${caseStudy.slug}`}>
  <div class="flex flex-col gap-4">
    <Image src={caseStudy.image} alt={caseStudy.title} />
    <h2>{caseStudy.title}</h2>
    <p>{caseStudy.description}</p>
  </div>
</Box>
