---
import { Image } from "astro:assets";
import type { Service } from "../../content/config";
import { getLangFromUrl } from "../../i18n/utils";
import Box from "../ui/Box.astro";

const service: Service = Astro.props.service;

const lang = getLangFromUrl(Astro.url);
---

<Box href={`/${lang}/services/${service.slug}`}>
  <div
    class="grid grid-cols-1 gap-8 overflow-hidden md:grid-cols-2 rounded-2xl"
  >
    <Image
      src={service.image}
      alt={service.title}
      class="object-cover w-full h-32 sm:h-64"
    />
    <div class="flex flex-col gap-4 px-4 py-8">
      <h2 class="text-primaryLight dark:text-primaryDark">{service.title}</h2>
      <p>{service.description}</p>
    </div>
  </div>
</Box>
